# SEO Indexing Control
# Set to true to allow search engine indexing (robots.txt allowance + meta index tag)
# Set to false (or leave empty) to block all search engine crawlers (noindex, follow + robots disallow)
NEXT_PUBLIC_ALLOW_INDEXING=false
